.add{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 40px;
  background-color: azure;
  cursor: pointer;
}

.add:hover{
  box-shadow: 0px 0px 5px 0.1px azure;
}

.add:active{
  background-color: azure;
}

.add img{
  height: 21px;
  cursor: pointer;
}

.addHide{
  display: none;
}